<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">   


	<bean id="performanceLoggerBean" class="com.adanac.framework.lang.performance.PerformanceInterceptor">
	<!-- 设置TraceLogInterceptor所使用的logger名称为trace-logger ,关联logback配置文件中的logger设置-->
	<property name="loggerName" value="trace-logger" />
	</bean>

	<!-- 配置aop信息 -->
	<aop:config>
	<!-- 设置切面关联信息 -->
		<aop:aspect id="performLogger" ref="performanceLoggerBean">
	<!-- 设置织入点信息,此处"execution(* com.suning..*(..))"表明织入点含括com.suning包下所有类及所有子包中的类的所有方法 -->
<!-- 			<aop:pointcut id="methodsQualified" expression="execution(* com.suning..*(..))" /> -->
	<!-- 设置织入模式为around -->
			<aop:around pointcut-ref="methodsQualified" method="aroundProcess" />
		</aop:aspect>
	</aop:config>

</beans>